body {
    font-family: sans-serif;
    font-size: larger;
}

footer {
    background-color: grey;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
}