{% extends "index.html" %}
{% block pagetitle %}Kasse 🛒🍺 - Warenkorb{% endblock %}
{% block content %}
    <audio id="cash_sound" preload="auto"><source src="../static/sounds/cash.mp3" /></audio>
    <audio id="click_sound" preload="auto"><source src="../static/sounds/click.wav" /></audio>
    <div style="padding: 10px">
        <h2>🛒 {{ team.team_name }} 🍻</h2>
    </div>
    <div class="itemblock">
        <table>
            <tbody>
                {% for item in itemlist %}
                    <tr>
                        <td><button class="btn btn-large btn-primary btn-lg" style="float:right;" onclick="addItem('{{ item.name }}', {{ item.price }}, 1)">+1 <b>{{ item.name }}</b><br> {{ "{:,.2f}€".format( item.price ) }}</button></td>
                        <td><button class="btn btn-large btn-warning btn-lg" onclick="addItem('{{ item.name }}', {{ item.price }}, 5)">+5 <b>{{ item.name }}</b><br> {{ "{:,.2f}€".format( item.price * 5) }}</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="itemblock">
        <table>
            <tr>
                <td><button class="btn btn-large btn-warning btn-table" onclick="addItem('Sonstiges', 0.5, 1)"><b>0,50€</b></button></td>
                <td><button class="btn btn-large btn-warning btn-table" onclick="addItem('Sonstiges', 1, 1)"><b>1,00€</b></button></td>
                <td><button class="btn btn-large btn-warning btn-table" onclick="addItem('Sonstiges', 2.5, 1)"><b>2,50€</b></button></td>
            </tr>
            <tr>
                <td><button class="btn btn-large btn-warning btn-table" onclick="addItem('Sonstiges', 5, 1)"><b>5,00€</b></button></td>
                <td><button class="btn btn-large btn-warning btn-table" onclick="addItem('Sonstiges', 10, 1)"><b>10,00€</b></button></td>
                <td><button class="btn btn-large btn-warning btn-table" onclick="addItem('Sonstiges', 20, 1)"><b>20,00€</b></button></td>
            </tr>
        </table>
    </div>

    <div style="margin: 20px">
        <table id="bill" style="font-size: larger; border: black solid; table-layout: auto;"></table>
    </div>

    <div style="margin: 20px; visibility: hidden" id="check-out">
        {% if (team.team_id != -1) %}
            <button type="button" class="btn btn-danger" onclick="submitBill(false)"><b>Team-Konto<br>{{ team.team_name }}</b></button>
        {% endif %}
        <button type="button" class="btn btn-warning" onclick="submitBill(true)"><b>Bar<br>EC</b></button><br><br>
        <button type="button" class="btn btn-secondary" onclick="location = '{{ url_for("cashRegister.teams") }}'"><b>Bestellung<br>Abbrechen</b></button>
    </div>


    <script>
        let basket = {};

        function addItem(name, price, amount){
            if (name in basket){
                buffer = basket[name];
                basket[name]={
                    'name' : name,
                    'amount' : (amount + buffer['amount']),
                    'sum' : (price * amount) + buffer['sum']
                };
            }
            else{
                basket[name]={
                    'name' : name,
                    'amount' : (amount),
                    'sum' : (price * amount)
                };
            }
            document.getElementById('click_sound').currentTime=0;
            document.getElementById('click_sound').play();
            updateBill(basket)
            console.log(basket)
        }

        function updateBill(basket){
            let tableRef = document.getElementById("bill");
            tableRef.innerHTML = "";
            total = 0;
            for(item in basket){
                let newRow = tableRef.insertRow(-1);
                let amountCell = newRow.insertCell(0);
                let nameCell = newRow.insertCell(1);
                let sumCell = newRow.insertCell(2);
                amountCell.setAttribute('class', 'columnAmount')
                nameCell.setAttribute('class', 'columnName')
                sumCell.setAttribute('class', 'columnSum')
                nameCell.innerHTML = basket[item]['name'];
                amountCell.innerHTML = basket[item]['amount'];
                sumCell.innerHTML = basket[item]['sum'].toFixed(2) + "€";
                total += basket[item]['sum'];
            }

            let newRow = tableRef.insertRow(-1);
            let amountCell = newRow.insertCell(0);
            let nameCell = newRow.insertCell(1);
            let sumCell = newRow.insertCell(2);
            amountCell.setAttribute('class', 'columnAmount')
            nameCell.setAttribute('class', 'columnName')
            sumCell.setAttribute('class', 'columnTotal')
            nameCell.innerHTML = "<b>Total</b>";
            amountCell.innerHTML = "";
            sumCell.innerHTML = "<b>" + total.toFixed(2) + "€</b>";

            document.getElementById("check-out").style.visibility = "visible";
    }

    function submitBill(cash){
        document.getElementById('cash_sound').play();
        let _data = {
            'cash' : cash,
            'basket' : basket,
            'team_id' : {{ team.team_id }},
            'team_name' : "{{ team.team_name }}"
        };
        fetch("{{ url_for('cashRegister.checkout') }}", {
            method: "POST",
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(_data)
        }).then(res => {
            console.log("Request complete! response:", res);
            setTimeout(function() {
                location = '{{ url_for("cashRegister.teams") }}';
            }, 1000);
        });
    }

    </script>
{% endblock %}{% block style %}
<style>
    .itemblock{
        margin: 10px;
        padding: 10px;
    }
    .columnAmount{
        text-align: right;
        vertical-align: bottom;
        padding: 5px;
    }
    .columnName{
        text-align: left;
        vertical-align: bottom;
        padding: 5px;
    }
    .columnSum{
        text-align: left;
        vertical-align: bottom;
        padding: 5px;
    }
    .columnTotal{
        text-align: right;
        vertical-align: bottom;
        padding: 5px;
    }

    .btn-table{
        width: 80px;
    }
</style>
{% endblock %}