{% extends "index.html" %}
{% block pagetitle %}Admin{% endblock %}
{% block content %}
    <div style="overflow-x:auto; padding: 10px">
        {% for team in bills %}
            <div class="team-container">
                <h3 style="padding-left: 5px">{{ team }}</h3>
                <table style=" border: solid black;">
                    <tbody>
                        <tr>
                            <th class="header-row">Artikel</th>
                            <th class="header-row">Menge</th>
                            <th class="header-row">Offen</th>
                            <th class="header-row">Bezahlt</th>
                        </tr>
                        {% set total = {'cash': 0.0,'credit': 0.0} %}
                        {% for item in bills[team]%}
                            <tr style="padding: 5px; margin: 5px;">
                                <td class="basic-row">{{ item.item }}</td>
                                <td class="basic-row" style="text-align: right">{{ item.amount }}</td>
                                {% if item.cash %}
                                    <td class="basic-row" style="text-align: right"></td>
                                    <td class="basic-row" style="text-align: right">{{ "{:,.2f}€".format(item.sum) }}</td>
                                    {% if total.update({"cash": item.sum + total.cash }) %} {% endif %}
                                {% else %}
                                    <td class="basic-row credit" style="text-align: right">{{ "{:,.2f}€".format(item.sum) }}</td>
                                    <td class="basic-row" style="text-align: right"></td>
                                    {% if total.update({"credit": item.sum + total.credit }) %} {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        <tr style="padding: 5px; margin: 5px;">
                            <td class="basic-row"><b>Total</b></td>
                            <td class="basic-row" style="text-align: right"></td>
                            <td class="basic-row credit" style="text-align: right"><b>{{ "{:,.2f}€".format(total.credit) }}</b></td>
                            <td class="basic-row" style="text-align: right"><b>{{ "{:,.2f}€".format(total.cash) }}</b></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endfor %}
    </div>
    <script>
        function beer(team, add){
            if(!add){
                if (!confirm("⚠ Willst du wirklich von Team \"" + team + "\" ein Meter Bier Abziehen? ⚠")) {
                    return;
                }
            }

            data = {
                "team": team,
                "add": add,
                "remomve": !add,
            };

            fetch("{{url_for('api_beer')}}", {
              method: "POST",
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify(data)
            }).then(res => {
                if(add){
                    alert("Ein Meter Bier🍺 wurde dem Team \"" + team + "\" hinzugefügt")
                }
              console.log("Request complete! response:", res);
              location.reload()
            });

        }
    </script>
{% endblock %}{% block style %}
<style>
    .header-row{
        font-style: inherit;
        padding: 2px;
        text-align: center;
        border-right: solid black;
    }
    .basic-row{
        border-right: solid black;
        padding: 2px;
    }

    .credit{
        color: red;
    }

    .team-container{
        padding: 10px;
    }

    tr:nth-child(even) {background: #CCC}
    tr:nth-child(odd) {background: #FFF}
</style>
{% endblock %}