{% extends "index.html" %}
{% block pagetitle %}Admin{% endblock %}
{% block content %}
    <div style="padding: 10px">
        {% if user.permission >= 1 %}
            {% for button in buttonList['1'] %}
                <a href="{{ url_for(button['site']) }}" class="{{ button['class'] }}" role="button">{{ button['text'] }}</a><br><br>
            {% endfor %}
        {% endif %}
        {% if user.permission >= 2 %}
            {% for button in buttonList['2'] %}
                <a href="{{ url_for(button['site']) }}" class="{{ button['class'] }}" role="button">{{ button['text'] }}</a><br><br>
            {% endfor %}
            <a href="{{ url_for('adminInfos') }}" class="btn btn-primary" role="button">Infos verwalten</a><br><br>
        {% endif %}
        {% if user.permission >= 3 %}
            {% for button in buttonList['3'] %}
                <a href="{{ url_for(button['site']) }}" class="{{ button['class'] }}" role="button">{{ button['text'] }}</a><br><br>
            {% endfor %}
            <a href="{{ url_for('add_user') }}" class="btn btn-primary" role="button">Benutzer hinzufügen</a><br><br>
        {% endif %}
        <a href="{{ url_for('logout') }}" class="btn btn-danger" role="button">Logout</a><br><br>
    </div>
{% endblock %}
{% block style %}
{% endblock %}