{% extends "index.html" %}
{% block pagetitle %}Admin{% endblock %}
{% block content %}
    <div style="padding: 10px">
        {% if user.permission >= 1 %}
            <a href="{{ url_for('adminTheke') }}" class="btn btn-primary" role="button">Theke</a><br><br>
        {% endif %}
        {% if user.permission >= 2 %}
            <a href="{{ url_for('adminTeams') }}" class="btn btn-primary" role="button">Teams Verwalten</a><br><br>
            <a href="{{ url_for('adminInfos') }}" class="btn btn-primary" role="button">Infos Verwalten</a><br><br>
        {% endif %}
        {% if user.permission >= 3 %}
            <a href="{{ url_for('add_user') }}" class="btn btn-primary" role="button">Benutzer hinzufügen</a><br><br>
        {% endif %}
        <a href="{{ url_for('logout') }}" class="btn btn-danger" role="button">Logout</a><br><br>
    </div>
{% endblock %}
{% block style %}
{% endblock %}