{% extends "index.html" %}
{% block pagetitle %}Admin{% endblock %}
{% block content %}
    <div style="padding: 10px">
        {% for team in teams %}
            <a style="margin: 20px" class="btn btn-large btn-primary btn-lg" href="{{ url_for('admin_cashRegister_items',team_name = team['name'], team_id = team['id']) }}">
                {{ team['name'] }}
            </a>
        {% endfor %}
        <a style="margin: 20px" class="btn btn-large btn-primary btn-info" href="{{ url_for('admin_cashRegister_items',team_name = 'Ohne Team') }}">Ohne Team</a>
    </div>
    <script>
        function beer(team, add){
            if(!add){
                if (!confirm("⚠ Willst du wirklich von Team \"" + team + "\" ein Meter Bier Abziehen? ⚠")) {
                    return;
                }
            }

            data = {
                "team": team,
                "add": add,
                "remomve": !add,
            };

            fetch("{{url_for('api_beer')}}", {
              method: "POST",
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify(data)
            }).then(res => {
                if(add){
                    alert("Ein Meter Bier🍺 wurde dem Team \"" + team + "\" hinzugefügt")
                }
              console.log("Request complete! response:", res);
              location.reload()
            });

        }
    </script>
{% endblock %}{% block style %}
<style>
</style>
{% endblock %}