{% extends "index.html" %}
{% block pagetitle %}Admin Infos{% endblock %}
{% block content %}
    <form action="{{ url_for('api_addInfo') }}" method="POST">
        <div style="padding: 10px;">
            <div class="contentDiv">
                <div>
                    <label for="title">Titel:</label><br>
                    <input name="title" id="title" value="">
                </div>
                <div>
                    <label for="content">Inhalt</label><br>
                    <textarea name="content" id="content" value="" style="min-width: 50%"></textarea>
                </div>
                <div>
                    <button>Post erstellen</button>
                </div>
            </div>
        </div>
    </form>

    {% for data in infos %}
        <div style="padding: 10px;">
            <div style="padding: 10px; background-color: beige; border: solid 1px; border-radius: 10px;">
                <h2>{{ data["title"] }}</h2>
                <a style="font-size: small; color: gray">{{ data["Timestamp"] }}</a><br>
                <p>{{ data["content"] }}</p>
                <button class="btn btn-large btn-danger"onclick="deletePost({{ data["id"] }}, '{{ data["title"] }}')">Löschen</button>
            </div>
        </div>
    {% endfor %}

<script>
    function deletePost(id, title){
        if (confirm("⚠ Willst du den Post \"" + title + "\" wirklich löschen? ⚠")) {
            fetch("{{url_for('api_deleteInfo')}}", {
              method: "POST",
              headers: {'Content-Type': 'application/json'},
              body: JSON.stringify({'id': id})
            }).then(res => {
              console.log("Request complete! response:", res);
              location.reload()
            });
            return;
        }
        else{
            return;
        }
    }
</script>
{% endblock %}
{% block style %}
{% endblock %}