<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BierMeter{% endblock %} - {% block pagetitle %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='svg/beer.svg') }}" type="image/svg+xml">

    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div id="navbar">
        <div class="left" href="{{ url_for('ranking') }}">Ranking</div>
        <div class="left" href="">Info</div>
        <div class="right" href="{{ url_for('admin') }}">Admin</div>
    </div>
    {% block content %}{% endblock %}

</body>
{% block style %}{% endblock %}
<style>#navbar {
  overflow: hidden;
  background-color: #333;
}
.left, .right{
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.left{
    float: left;
}
.right{
    float: right;
}
/* Navbar links */
@media screen and (max-width: 800px) {
  .left, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
#navbar a {
}

/* Page content */
.content {
  padding: 16px;
}

</style>
</html>
