{% extends "index.html" %}
{% block pagetitle %}Ranking🏆{% endblock %}
{% block content %}
    {% for day in ranking_list %}
        <div style="margin-top: 20px;">
            <h2>{{ day }}</h2>
            <table id="rankingTable">
                {% for team in ranking_list[day] %}
                    <tr>
                        <td class="columnTeam"><b>{{ team["team"] }}</b></td>
                        <td class="columnCnt">{{ team["amount"] }}</td>
                        <td class="columnBeer">
                            {% for n in range(team["amount"]) %}
                                🍺
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
{% endblock %}
{% block style %}
<style>
    .beerTable{
        vertical-align: bottom;
        max-height: 25px;
    }
    .columnTeam{
        text-align: right;
        vertical-align: center;
        width:0.1%;
        white-space: nowrap;
        padding: 5px;
    }
    .columnCnt{
        text-align: right;
        vertical-align: center;
        width:0.1%;
        white-space: nowrap;
        padding-left: 5px;
    }
    .columnBeer{
        text-align: left;
        vertical-align: bottom;
        width: max-content;
        padding: 5px;
    }
    tr:nth-child(odd) {
        background-color: #b0ceff;
    }
    tr:nth-child(even) {
        background-color: #d9e7ff;
    }
</style>
{% endblock %}