{% extends "layout.html" %}
{% block content%}

<div class='container'>
    <div class='card' id="secretCard" style="visibility: collapse;">
        <div class='card-header'>
            <h1>Ranking</h1>
        </div>
        <div class='card-body'>
            <img id="secret-Banner" style="width: 80%;" src="/static/main/top-secret.png" ><br>
        </div>
    </div>
    <div class='card' id="rankingCard">
        <div class='card-header'>
            <h1>Ranking</h1>
        </div>
        <div class='card-body'>
            <table id="rankingTable">
            </table>            
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="module">
    import { socket, watchDog, wsData } from "/static/scripts/socket.js";
    wsData.device = "enddevice";
    watchDog.pingInterval = 5000;
    
    function getData() {
        fetch('{{ url_for("main.getData") }}', {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            }

        })
            .then((response) => response.json())
            .then((json) => {
                let data = json;
                console.debug(data);

                let tableRef = document.getElementById("rankingTable");
                tableRef.innerHTML = "";

                if(data.indexShowTable){
                    $('#secretCard').css('visibility', 'collapse');
                    $('#secretCard').height('0px');
                    $('#rankingCard').css('visibility', 'visible');

                    for (let team  in data.teams) {
                        let newRow = tableRef.insertRow(-1);
                        let nameCell = newRow.insertCell(0);
                        let amountCell = newRow.insertCell(1);
                        let bierCell = newRow.insertCell(2);
                        nameCell.setAttribute('class', 'rankingColumnTeam');
                        amountCell.setAttribute('class', 'rankingColumnAmount');
                        bierCell.setAttribute('class', 'rankingColumnBier');
                        nameCell.innerHTML = "<strong>" + data.teams[team].team + "</strong>";                        
                        amountCell.innerHTML = data.teams[team].amount;                    
                        for(let i = 1; i <= data.teams[team].amount; i++){
                            bierCell.innerHTML += "🍺";
                        }
                    }
                }
                else{
                    $('#secretCard').css('visibility', 'visible');
                    $('#secretCard').height('auto');
                    $('#rankingCard').css('visibility', 'collapse');
                    tableRef.innerHTML = "";
                    console.debug(false);
                }
            });
    }

    getData();
    socket.on('newData',getData);

</script>

{% endblock %}

{% block style %}
<style>
</style>
{% endblock %}